{% extends "layoutsimple.twig" %}

{% block content %}
<div class="container">
    <h4 class="text-center">CENTRAL DE PRODUCTORES AGROECOOLOGICOS "SINCHIRI" PANGOA 2019</h4>
    <h5 class="text-center">FICHA DE INFORMACION BASICA DEL PRODUCTOR</h5>

    <h6>1. DATOS DEL PRODUCTOR</h6>
    <table class="table border">
        <tr>
            <td>PRODUCTOR:</td>
            <td colspan="3">PRODUCTOR DE PRUEBA</td>
            <td>DNI</td>
            <td>71118137</td>
        </tr>
        <tr>
            <td>FUNDO:</td>
            <td>SINCHIRI</td>
            <td>CODIGO CERTIFICADO:</td>
            <td>005</td>
            <td>ESTATUS C0/C1/C2/ECOLOGICO:</td>
            <td>ECOLOGICO</td>
        </tr>
        <tr>
            <td>SECTOR/CCNN:</td>
            <td>PUCALLPA</td>
            <td>DISTRITO:</td>
            <td>SATIPO</td>
            <td>PROVINCIA:</td>
            <td>SATIPO</td>
        </tr>
        <tr>
            <td>INSPECTOR INTERNO:</td>
            <td colspan="3">JUAN PLABLO</td>
            <td>FECHA DE INSPECCION:</td>
            <td>2019 - 05 - 12</td>
        </tr>
        <tr>
            <td>TIPO DE INSPECCION:</td>
            <td colspan="5">NO LO SE</td>
        </tr>
    </table>

    <h6>2. NORMAS Y CRITERIO A CUMPLIR</h6>
    <div class="row px-3">
        <div class="col-5 border">
            Reglamento europeo (CEE) 834/2007 y 889/2008 EU Regulations (EC) NO 834/07 and 889/08
        </div>
        <div class="col-1 text-center d-flex justify-content-center align-items-center border">
            <span><i class="fa fa-check"></i></span>
        </div>
        <div class="col-5 border">
            Reglamento Tecnico Peruano DC # 044/2006
        </div>
        <div class="col-1 text-center d-flex justify-content-center align-items-center border">
            <span><i class="fa fa-check"></i></span>
        </div>
        {# fila 2 #}
        <div class="col-5 border">
            Reglamento europeo (CEE) 834/2007 y 889/2008 EU Regulations (EC) NO 834/07 and 889/08
        </div>
        <div class="col-1 text-center d-flex justify-content-center align-items-center border">
            <span><i class="fa fa-check"></i></span>
        </div>
        <div class="col-5 border">
            Reglamento Tecnico Peruano DC # 044/2006
        </div>
        <div class="col-1 text-center d-flex justify-content-center align-items-center border">
            <span><i class="fa fa-check"></i></span>
        </div>
        {# fila 3 #}
        <div class="col-5 border">
            Reglamento europeo (CEE) 834/2007 y 889/2008 EU Regulations (EC) NO 834/07 and 889/08
        </div>
        <div class="col-1 text-center d-flex justify-content-center align-items-center border">
            <span><i class="fa fa-check"></i></span>
        </div>
        <div class="col-5 border">
            Reglamento Tecnico Peruano DC # 044/2006
        </div>
        <div class="col-1 text-center d-flex justify-content-center align-items-center border">
            <span><i class="fa fa-check"></i></span>
        </div>
        {# fila 4 #}
        <div class="col-5 border">
            Reglamento europeo (CEE) 834/2007 y 889/2008 EU Regulations (EC) NO 834/07 and 889/08
        </div>
        <div class="col-1 text-center d-flex justify-content-center align-items-center border">
            <span><i class="fa fa-check"></i></span>
        </div>
        <div class="col-5 border">
            Reglamento Tecnico Peruano DC # 044/2006
        </div>
        <div class="col-1 text-center d-flex justify-content-center align-items-center border">
            <span><i class="fa fa-check"></i></span>
        </div>
        {# fila 5 #}
        <div class="col-5 border">
            Reglamento europeo (CEE) 834/2007 y 889/2008 EU Regulations (EC) NO 834/07 and 889/08
        </div>
        <div class="col-1 text-center d-flex justify-content-center align-items-center border">
            <span><i class="fa fa-check"></i></span>
        </div>
        <div class="col-5 border">
            Reglamento Tecnico Peruano DC # 044/2006
        </div>
        <div class="col-1 text-center d-flex justify-content-center align-items-center border">
            <span><i class="fa fa-check"></i></span>
        </div>
        {# fila 6 #}
        <div class="col-5 border">
            Reglamento europeo (CEE) 834/2007 y 889/2008 EU Regulations (EC) NO 834/07 and 889/08
        </div>
        <div class="col-1 text-center d-flex justify-content-center align-items-center border">
            <span><i class="fa fa-check"></i></span>
        </div>
    </div>

    <h6>3. DATOS DE LA(S) PARCELAS</h6>
    <table class="table border text-center">
        <tr>
            <td class="border" colspan="7">SUPERFICIE (ha.)</td>
            <td class="border" colspan="2">COCECHA 2020</td>
            <td class="border" colspan="2">COCEHCA 2021</td>
        </tr>
        <tr>
            <td>Area total de lfundo:</td>
            <td>Area total del cafe</td>
            <td>Cafe en produccion</td>
            <td>Cafe en crecimiento</td>
            <td>Otros cultivos</td>
            <td>Bosque</td>
            <td>Zonas con riesgo de Erosion</td>
            <td>Total produccion</td>
            <td>Entrego a la central SINCHIRI</td>
            <td>Total produccion</td>
            <td>Entrego a la central SINCHIRI</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <p>
        <strong>OBSERVACION:</strong>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis vero voluptatibus consequuntur veniam ut iste
        cum dolorem alias reiciendis maxime tenetur dicta repellat omnis eaque voluptas ad facere, nihil consequatur.
    </p>

    <h6>04. SISTEMA DE GESTION DOCUMENTARIO</h6>
    <div class="row text-center">
        <div class="col-4 border d-flex justify-content-center align-items-center">ACCION A VERIFICAR</div>
        <div class="col-4">
            <div class="row">
                <div class="col border-top border-bottom d-flex justify-content-center align-items-center">CUMPLIMIENTO</div>
            </div>
            <div class="row">
                <div class="col border-bottom d-flex justify-content-center align-items-center">Criterio Para</div>
                <div class="col border-bottom border-left d-flex justify-content-center align-items-center">No Aplica</div>
                <div class="col border-bottom border-left d-flex justify-content-center align-items-center">SI</div>
                <div class="col border-bottom border-left d-flex justify-content-center align-items-center">NO</div>
            </div>
        </div>
        <div class="col-4 border text-center d-flex justify-content-center align-items-center">OBSERVACIONES</div>
    </div>
    <div class="row">
        <div class="col-4 border-right border-bottom border-left text-justify">
            ¿Tiene su reglamento Interno?
        </div>
        <div class="col-1 border-right border-bottom">
            TODOS
        </div>
        <div class="col-1 border-right border-bottom">
            
        </div>
        <div class="col-1 border-right border-bottom">
            
        </div>
        <div class="col-1 border-bottom">
            
        </div>
        <div class="col-4 border border-top-0 text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum laboriosam culpa ab ratione cumque consequuntur. Et nostrum dolor, laborum accusamus corrupti, repudiandae quia voluptatem autem saepe impedit aliquam perspiciatis sapiente.
        </div>
    </div>

    <div class="m-5"></div>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="border firma d-flex justify-content-center align-items-end">
                <p class="text-center">
                    ---------------------
                    <br>
                    FIRMA
                </p>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="border firma d-flex justify-content-center align-items-end">
                <p class="text-center">
                    ---------------------
                    <br>
                    FIRMA
                </p>
            </div>
        </div>
    </div>
    <div class="mt-5"></div>
</div>
{% endblock %}