{% extends "layoutsimple.twig" %}

{% block content %}
<div class="container">
    <h4 class="text-center">CENTRAL DE PRODUCTORES AGROECOOLOGICOS "SINCHIRI" PANGOA 2019</h4>
    <h5 class="text-center">FICHA DE INFORMACION BASICA DEL PRODUCTOR</h5>

    <h6>1. DATOS DEL PRODUCTOR</h6>
    <table class="table border">
        <tr>
            <td>D.N.I:</td>
            <td>71118137</td>
            <td>N° DE SOCIO:</td>
            <td>50</td>
        </tr>
        <tr>
            <td>APELLIDOS Y NOMBRES:</td>
            <td>PRODUCTOR DE PRUEBA</td>
            <td>ANEXO/CCNN:</td>
            <td>SAHNGAY</td>
        </tr>
        <tr>
            <td>CONYUGE APELLIDOS Y NOMBRES:</td>
            <td>PRODUCTOR DE PRUEBA</td>
            <td>D.N.I:</td>
            <td>12345678</td>
        </tr>
        <tr>
            <td>NOMBRE DEL FUNDO:</td>
            <td>SINCHIRI</td>
            <td>DISTRITO:</td>
            <td>SATIPO</td>
        </tr>
        <tr>
            <td>COMITE/BASE:</td>
            <td>NO LO SE:</td>
            <td>DEPARTAMENTO  PROVINCIA:</td>
            <td>JUNIN - SATIPO</td>
        </tr>
    </table>

    <h6>1.1 FUNDO</h6>
    <table class="table border">
        <tr>
            <td>UBICACION DEL FUNDO:</td>
            <td><b>ESTA PO SINCHIRI</b></td>
            <td>DISTANCIA DESDE SATIPO:</td>
            <td><b>50 KM</b></td>
        </tr>
    </table>

    <h6>2 CARACTERISTICAS ECOLOGICAS DE LA UNIDAD DE PRODUCCION</h6>
    <table class="table border">
        <tr>
            <td>Altitud de la finca:</td>
            <td>50 MTSM</td>
            <td class="border" rowspan="2">Coordenadas UTM</td>
            <td>Este</td>
        </tr>
        <tr>
            <td>Precipitacion:</td>
            <td>80</td>
            <td>Norte:</td>
        </tr>
        <tr>
            <td>Temperatura:</td>
            <td>50 °C</td>
            <td>Expocicion hacia:</td>
            <td>norte</td>
        </tr>
    </table>

    <h6>UNIDAD DE PRODUCCION</h6>
    <table class="table border">
        <thead>
            <tr>
                <th>CULTIBOS</th>
                <th>SUPERFICIE ANTERIO (Has)</th>
                <th>SUPERFICIE ACTUAL (Has)</th>
                <th>N° DE PARCELAS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cafe en produccion</td>
                <td>50</td>
                <td>50</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Cafe en produccion</td>
                <td>50</td>
                <td>50</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Cafe en produccion</td>
                <td>50</td>
                <td>50</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Cafe en produccion</td>
                <td>50</td>
                <td>50</td>
                <td>5</td>
            </tr>
            <tr>
                <td>TOTAL</td>
                <td>200</td>
                <td>200</td>
                <td>20</td>
            </tr>
        </tbody>
    </table>

    <h6>2.2 DISTRIBUCION DE LAS PARCELAS</h6>
    <table class="table border text-center">
        <thead>
            <tr>
                <th>Nombre de la Parcela/N°</th>
                <th>Hectareas</th>
                <th>Edad del cultivo (años/meses)</th>
                <th>Variedad de cafeto</th>
                <th>Plantas/ha</th>
                <th>Total</th>
                <th>Produccion Saco de 710 Kg cafe</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>TOTAL</td>
                <td class="border"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="border"></td>
                <td class="border"></td>
            </tr>
        </tbody>
    </table>

    <h6>2.3 MANEJO PECUARIO</h6>
    <div class="row">
        <div class="col-3">
            Bovinos <b class="text-primary">5 Cab</b>
        </div>
        <div class="col-3">
            Ovinos <b class="ml-3 text-danger"><i class="fas fa-times"></i></b>
        </div>
        <div class="col-3">
            Porcinos <b class="text-primary">5 Cab</b>
        </div>
        <div class="col-3">
            Peces <b class="ml-3 text-danger"><i class="fas fa-times"></i></b>
        </div>
        <div class="col-3">
            Aves <b class="ml-3 text-danger"><i class="fas fa-times"></i></b>
        </div>
        <div class="col-3">
            Cuyes <b class="ml-3 text-danger"><i class="fas fa-times"></i></b>
        </div>
        <div class="col-3">
            Abejas <b class="ml-3 text-danger"><i class="fas fa-times"></i></b>
        </div>
    </div>
    <div class="mt-3"></div>
    <strong>Otros:</strong>
    <div class="row">
        <div class="col-3">
            Abejas <b class="ml-3 text-primary">1 Commena</b>
        </div>
    </div>

    <h6>2.4 MANEJO DE RESIDUOS</h6>
    <div class="row">
        <div class="col-4 d-flex justify-content-between">
            Pozas de residuos Organicos <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col-4 d-flex justify-content-between">
            Posas de residuos Inorganicos <span class="text-primary"><i class="fas fa-check"></i></span>
        </div>
        <div class="col-4 d-flex justify-content-between">
            Compostera <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col-4 d-flex justify-content-between">
            Tratamiento de Aguas miel <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col-4 d-flex justify-content-between">
            Tratamiento de Aguas Grises <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col-4 d-flex justify-content-between">
            Silo <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
    </div>

    <h6>2.5 ALMACENAMIENTO</h6>
    <div class="row">
        <div class="col-7 d-flex justify-content-between">
            Almacenamiento Exclusivo para el Cafe <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col-7 d-flex justify-content-between">
            Almacen para Insumos <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col-7 d-flex justify-content-between">
            Almacen para herramientas, equipos y otros productor <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
    </div>

    <h6>3 MANEJO DEL CAFETAL</h6>
    <h6>3.1 SEMILLAS Y PLANTULAS</h6>
    <div class="row">
        <div class="col-7 d-flex justify-content-between">
            Semillas de Produccion propia <span class="text-primary"><i class="fas fa-check"></i></span>
        </div>
        <div class="col-12">
            <strong>Comprados</strong><br>
            - ASDF ADF 50 KG
        </div>
    </div>

    <h6>3.2 MANIPULACION GENETICA</h6>
    <p class="text-center text-warning font-5"><i class="fas fa-info"></i></p>

    <h6>4. COCECHA Y POST COCECHA</h6>
    <h6>4.1 COCECHA</h6>
    <div class="row">
        <div class="col-6 d-flex justify-content-between">
            Se realiza <span class="text-primary mr-5">Manual <i class="fas fa-check"></i></span>
        </div>
        <div class="col-6 d-flex justify-content-between">
            Recolecicon en <span class="text-danger mr-5">Canasta <i class="fas fa-times"></i></span>
        </div>
    </div>

    <h6>4.2 BENEFICIOS HUMEDOS</h6>
    <div class="row">
        <div class="col">
            Reservorio de agua
        </div>
        <div class="col">
            Cemento <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col">
            Fibra <span class="text-primary"><i class="fas fa-check"></i></span>
        </div>
        <div class="col">
            Madera <span class="text-primary"><i class="fas fa-check"></i></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Planta de beneficio
        </div>
        <div class="col">
            Individual <span class="text-primary"><i class="fas fa-check"></i></span>
        </div>
        <div class="col">
            Centralizado <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col">
            Beneficio colectivo <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Desculpadora
        </div>
        <div class="col">
            Manual <span class="text-primary"><i class="fas fa-check"></i></span>
        </div>
        <div class="col">
            A Motor <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col">
            Hidrahulico <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            Tipo
        </div>
        <div class="col-3">
            Cilindrico <span class="text-primary"><i class="fas fa-check"></i></span>
        </div>
        <div class="col-3">
            Disco <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            Realiza separacion de calidades
        </div>
        <div class="col-3">
            Si <span class="text-primary"><i class="fas fa-check"></i></span>
        </div>
        <div class="col-3">
            No <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
    </div>

    <h6>4.3 INFRAESTRUCTURA DE PLANTA DE BENEFICIO</h6>
    <div class="row">
        <div class="col">
            Cerezo (Sifón)
        </div>
        <div class="col">
            Tanke de madera <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col">
            Tanke de concreto <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Cerezo (Sifón)
        </div>
        <div class="col">
            Tanke de madera <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col">
            Tanke de concreto <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Cerezo (Sifón)
        </div>
        <div class="col">
            Tanke de madera <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col">
            Tanke de concreto <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Agua
        </div>
        <div class="col">
            Potable <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col">
            Riachuelo <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col">
            Fuente <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
    </div>
    <p class="mt-3">
        <strong>Observaciones: </strong>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error delectus sapiente tenetur inventore dolorum magnam ducimus obcaecati. Dolore libero delectus eos? Mollitia id natus minus vero expedita sed libero maxime.
    </p>

    <h6>4.4 DESTINO DE LAS AGUAS MIEL</h6>
    <div class="row">
        <div class="col-4">
            Adecuado <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col-4">
            Riesgo de Contaminacion <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
    </div>
    <p class="mt-3">
        <strong>Observaciones: </strong>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis praesentium voluptatibus voluptates dolorum accusamus qui, minima eligendi beatae, magni quos nihil! Nam optio, deleniti excepturi ad quod autem accusantium soluta?
    </p>

    <h6>4.5 SECADO</h6>
    <div class="row">
        <div class="col-4">
            Patio de cemento <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col-4">
            Parihuela <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col-4">
            Tarimas <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col-4">
            Modulo de secador Solar <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col-4">
            Secadora Guardiola <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
    </div>
    <p>
        <strong>Obsercaciones: </strong>
    </p>
    <div class="row">
        <div class="col">Sacos: </div>
        <div class="col">
            Yute <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col">
            Polipropileno <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
    </div>
    <div class="row">
        <div class="col">Etiquetado: </div>
        <div class="col">
            Si <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
        <div class="col">
            No <span class="text-danger"><i class="fas fa-times"></i></span>
        </div>
    </div>

    <h6>5. OTRAS ACTIVIDADES Y/O NEGOCIOS</h6>
    <P>
        <strong>Especifique:</strong>
    </P>

    <h6>6. COCECHA Y VENTA</h6>
    <table class="table border text-center">
        <tr>
            <td class="border" colspan="4">PRODUCCION Y VENTA</td>
            <td class="border" colspan="3">ESTIMACION DE PRODUCCION</td>
        </tr>
        <tr>
            <td class="border" colspan="4">2019</td>
            <td class="border" colspan="3">2020</td>
        </tr>
        <tr>
            <td>Cantidad total producida Saco 70</td>
            <td>Cantidad vendida de cafe QQ</td>
            <td>Cantidad vendida organica 1era QQ</td>
            <td>Cantidad vendida organica 2da QQ</td>
            <td>Total estimado produccion perg. qq de 70 kg QQ</td>
            <td>Cantidad estimada Organico QQ</td>
            <td>Cantidad estimada cafe Especial</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="border firma d-flex justify-content-center align-items-end">
                <p class="text-center">
                    ---------------------
                    <br>
                    FIRMA
                </p>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="border firma d-flex justify-content-center align-items-end">
                <p class="text-center">
                    ---------------------
                    <br>
                    FIRMA
                </p>
            </div>
        </div>
    </div>
    <div class="mt-5"></div>
</div>
{% endblock %}